

.headerWrap {
    background: #fff;
    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, .2);
}

.headerLogo {
    float: left;
    font-weight: bold;
    font-size: 18px;
}

.navWrap {
    float: right;
}

.menuItem {
    line-height: 64px;
}
